@model ForgotPasswordViewModel
@{
    var errMsg = ViewBag.Err;
}

<div class="login-panel">
    <h2>Reset Password</h2>
    <h6>Enter your email to get password reset link</h6>
    <form method="post" asp-action="ForgotPassword" asp-controller="Account">
        <div class="error-message">
            @if (!string.IsNullOrEmpty(errMsg))
            {
                <p>@errMsg</p>
            }
        </div>
        <div class="input-control">
            <i class="fas fa-envelope"></i>
            <span asp-validation-for="Email" class="field-validation-error"></span>
            <input asp-for="Email" placeholder="Email" />
        </div>

        
        <button class="btn-submit">Send</button>
    </form>
</div>
