@model ResetPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var errMsgEmail = ViewBag.ErrEmail;
    var errMsgToken = ViewBag.ErrToken;
}

<div class="login-panel">
    <h4>Reset Password for @Model.Email </h4>
    <form method="post" asp-action="ResetPassword" asp-controller="Account">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="error-message">
            @if (!string.IsNullOrEmpty(errMsgEmail))
            {
                @errMsgEmail
            }
            @if (!string.IsNullOrEmpty(errMsgToken))
            {
                @errMsgToken
            }
        </div>
        <div class="input-control">
            <span asp-validation-for="Email" style="color:red; font-size:10px;"></span>
            <input asp-for="Email" hidden/>
        </div>

        <div class="input-control">
            <span asp-validation-for="Token" style="color:red; font-size:10px;"></span>
            <input asp-for="Token" hidden />
        </div>

        <div class="input-control">
            <span asp-validation-for="Password" style="color:red; font-size:10px;"></span>
            <input type="password" asp-for="Password" placeholder="Password" />
        </div>

        <div class="input-control">
            <span asp-validation-for="ConfirmPassword" style="color:red; font-size:10px;"></span>
            <input type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" />
        </div>

        <button class="btn-submit">Send</button>
    </form>
</div>
